<div class="slide-container">
    <div class="slide-content">
        <h2 class="heading2-left" contenteditable="true">Agenda</h2>
        <div class="component-infographic-process" style="margin-top: 2rem;">
            <div class="component-infographic-step">
                <div class="component-infographic-step-number">1</div>
                <div class="component-infographic-step-content">
                    <div class="component-infographic-step-title" contenteditable="true">Topic One</div>
                    <div class="component-infographic-step-desc" contenteditable="true">Description</div>
                </div>
            </div>
            <div class="component-infographic-arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="component-infographic-step">
                <div class="component-infographic-step-number">2</div>
                <div class="component-infographic-step-content">
                    <div class="component-infographic-step-title" contenteditable="true">Topic Two</div>
                    <div class="component-infographic-step-desc" contenteditable="true">Description</div>
                </div>
            </div>
            <div class="component-infographic-arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="component-infographic-step">
                <div class="component-infographic-step-number">3</div>
                <div class="component-infographic-step-content">
                    <div class="component-infographic-step-title" contenteditable="true">Topic Three</div>
                    <div class="component-infographic-step-desc" contenteditable="true">Description</div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-number">2</div>
</div>
