<div class="slide-container">
    <div class="slide-content">
        <h2 class="heading2-left" contenteditable="true">Key Features</h2>
        <div class="component-infographic-row" style="margin-top: 2rem;">
            <div class="component-infographic-item">
                <div class="component-infographic-icon">
                    <i class="fas fa-bolt"></i>
                </div>
                <div class="component-infographic-value" contenteditable="true">10x</div>
                <div class="component-infographic-label" contenteditable="true">Faster Performance</div>
            </div>
            <div class="component-infographic-item">
                <div class="component-infographic-icon">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <div class="component-infographic-value" contenteditable="true">99.9%</div>
                <div class="component-infographic-label" contenteditable="true">Uptime Guarantee</div>
            </div>
            <div class="component-infographic-item">
                <div class="component-infographic-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="component-infographic-value" contenteditable="true">1M+</div>
                <div class="component-infographic-label" contenteditable="true">Active Users</div>
            </div>
            <div class="component-infographic-item">
                <div class="component-infographic-icon">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="component-infographic-value" contenteditable="true">50+</div>
                <div class="component-infographic-label" contenteditable="true">Countries</div>
            </div>
        </div>
    </div>
    <div class="slide-number">3</div>
</div>
